.questions {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .question {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__content {
      width: 100%;
      margin-bottom: 2rem;
      p {
        font-family: $roboto;
        font-size: 2rem;
        line-height: 2rem;
        p {
          margin-bottom: 0.5rem;
        }
        strong {
          font-weight: 900;
        }
      }

      blockquote{
        font-size: 1rem;
        margin:50px auto;
        font-family:Open Sans;
        font-style:italic;
        color: #555555;
        padding:1.2em 30px 1.2em 75px;
        border-left:8px solid rgb(231, 175, 92) ;
        line-height:1.6;
        position: relative;
        background:#EDEDED;

        p {
          font-size: 1.5rem;
        }
      }
      
      blockquote::before{
        font-family:Arial;
        content: "\201C";
        color:rgb(231, 175, 92);
        font-size:4em;
        position: absolute;
        left: 10px;
        top:-10px;
      }
      
      blockquote::after{
        content: '';
      }

      ul {
        list-style-type: disc;
        font-size: 1.6rem;
      }

      &__backBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        left: 2rem;
        width: 4rem;

        img {
          width: 100%;
        }
      }

      &__nextBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        width: 4rem;

        img {
          width: 100%;
        }
      }
    }

    &__answers {
      width: 100%;
      &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__answer {
          width: 100%;
          text-transform: capitalize;
          cursor: pointer;
          font-size: 1.5rem;
          font-family: $roboto;
          padding: 2rem 1rem;
          user-select: none;
          display: block;
          background-image: linear-gradient(
            to left,
            transparent,
            transparent 50%,
            #d65600 50%,
            #d65600
          );
          background-position: 100% 0;
          background-size: 200% 100%;
          transition: all 0.25s ease-in;

          &:hover {
            background-position: 0 0;
            color: #fff;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        }
      }
    }
  }
}
